@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AppCoreLite MVC Demo</h1>
    <br />
    <h3><a href="https://github.com/themasquer/appcorelite" target="_blank"><i class="bi bi-github"></i> GitHub Project</a></h3>
    <br />
</div>

@section Scripts {
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
}
